<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jardineria?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">4DM1n4DM1n.</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Validate the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>  

        <!-- Names the annotated entity class -->
        <mapping class="ACDT_practica02.ORM.model.Cliente"/>
        <mapping class="ACDT_practica02.ORM.model.Producto"/>
    </session-factory>
</hibernate-configuration>